@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background:linear-gradient(
    144.11deg, 
  #1DDFDF 13.74%,
   #2C8889 49.51%, 
   #46ACB3 90.91%);
  
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    144.11deg, 
  #1DDFDF 13.74%,
   #2C8889 49.51%, 
   #46ACB3 90.91%);
}

.gradient,
.active {
  background: linear-gradient(
    144.11deg, 
  #1DDFDF 13.74%,
   #2C8889 49.51%, 
   #46ACB3 90.91%);
  
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm ;
  }
  .btn-top {
    @apply text-sm ;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base ;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#1DDFDF] to-[#46ACB3] font-bold font-primary hover:from-[#46ACB3] hover:to-[#1DDFDF];
  }
  .section {
    @apply py-8 lg:py-20 lg:h-screen flex items-center;
  }
 

}
.card {
  @apply w-72 cursor-pointer border-b-4 rounded-md bg-gradient-to-t 
  from-white/20 h-44 text-center px-3 py-7 self-end duration-500 delay-100; 
}
.card-active{
 @apply h-96;
}
.logo{
 @apply text-5xl mt-2 max-w-[5rem] mx-auto min-w-[5rem] min-h-[5rem] rounded-full bg-red-200
  text-red-600 grid place-items-center;
}
.para{
  @apply mt-3;
}
/* .imagee
{
  @apply 
} */
.card .skill-level {
@apply border-2 border-gray-200 text-white min-w-[3rem] min-h-[3rem] grid place-items-center rounded-full max-w-[3rem]  absolute right-0 scale-0;

}


.card-active .skill-level {
  @apply scale-[1.3] delay-700 duration-300;
}
.card-active .logo{
  @apply bg-red-500 text-red-200;
}
.img1{
  @apply  h-24
}